<div class="tacaco-content tabacoID">
    <h1 class="main-title">{{title}}</h1>
    <p class="main-descr">{{subtitle}}</p>
    
    <div class="tabaco-content" id="tabacoContent">
        <div class="tabaco-left-bar">
            <ul class="menu-main tabaco-vertical_mod" >
                {{#each tabacoMaker}}
                    <li class="menu-main-link" data-link="/tabaco/{{this.company}}">{{this.company}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="tabaco-right-bar tabacoHistoryID">
            {{ content }}
        </div>
    </div>
</div>